<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masar - Home</title>
    <link rel="icon" type="image/png" href="../static/images/whitelogo.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="header"></div>

    <main>
        
        <div class="main-container">

            <section class="hero">
                <h1>Finding Jobs Made Easy</h1>
                <p>Take your career to the next level.</p>
                <a href="job.html" class="classic-button">View Jobs</a>
            </section>

            <section class="features">
                <div class="feature-card">
                    <h2>Find Jobs</h2>
                    <p>Browse open positions all over the world.</p>
                </div>
                <div class="feature-card">
                    <h2>Track Progress</h2>
                    <p>Follow our step-by-step guides using our Roadmaps.</p>
                </div>
                <div class="feature-card">
                    <h2>Get Hired</h2>
                    <p>Connect with top employers directly.</p>
                </div>
            </section>

        </div>
        
        </main>

    <div id="footer"></footer>

    <script src="../static/js/script.js"></script>
</body>
</html>