<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masar - Roadmaps</title>
    <link rel="icon" type="image/png" href="../static/images/whitelogo.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="header"></div>

    <main>
        
        <div class="main-container">

            

        </div>
        
        </main>

    <div id="footer"></footer>

    <script src="../static/js/script.js"></script>
</body>
</html>